body {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #252e7e;
}
section#lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 31rem;
  border-radius: 30px;
  width: 40rem;
  height: 40rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: azure;
  background-color: #070751b0;
}
input.activado {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #00ff33;
  border-radius: 25px;
}
input.desactivado {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 25px;
}
fieldset#primero {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#segundo {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#tercero {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#cuarto {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#quinto {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#sexto {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#septimo {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#octavo {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#noveno {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
fieldset#decimo {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  appearance: none;
  width: 500px;
  height: 40px;
  background-image: linear-gradient(to right, #110922, #131388);
  border-radius: 10px;
}
label#contador {
  display: flex;
  justify-content: center;
}
